@model IEnumerable<Lab10.Models.Article>

<div class="row row-cols-md-3 g-4">
    @foreach (var item in Model)
    {
        <div class="col">
            <div class="card">
                @{
                    await Html.RenderPartialAsync("_ArticleImage", item, new ViewDataDictionary(ViewData) { { "FormImgClass", "card-img-top object-fit-cover grid-img" } });
                }
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h5>
                    <p class="card-text">@Html.DisplayNameFor(modelItem => item.Category): @item.Category?.Name</p>
                    <p class="card-text">@Html.DisplayNameFor(modelItem => item.Price): @Html.DisplayFor(modelItem => item.Price)</p>
                    @if (ViewData["ShowButtons"] as bool? == true)
                    {
                        <div class="mt-2">
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a>
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Details</a>
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                        </div>
                    }
                    else if (ViewData["ShowCart"] as bool? == false)
                    {
                        <div class="mt-2">
                            <a asp-controller="Shop" asp-action="AddToCart" asp-route-id="@item.Id" asp-route-cat_id="@ViewBag.SelectedCategoryId" class="btn btn-primary">Add to Cart</a>
                        </div>
                    }

                    @if (ViewData["ShowButtons"] as bool? == false && ViewData["ShowCart"] as bool? == true)
                    {
                        var quantities = ViewBag.Quantities as Dictionary<int, int>;

                        int quantity = 0;

                        if (quantities != null && quantities.ContainsKey(item.Id))
                        {
                            quantity = quantities[item.Id];
                        }

                        <p class="card-text">Quantity: @quantity</p>

                        <div class="mt-2">
                            <a asp-controller="Cart" asp-action="Plus" asp-route-id="@item.Id" class="btn btn-success">+</a>
                            <a asp-controller="Cart" asp-action="Minus" asp-route-id="@item.Id" class="btn btn-warning">-</a>
                            <a asp-controller="Cart" asp-action="Remove" asp-route-id="@item.Id" class="btn btn-danger">Remove</a>
                        </div>
                    }
                </div>
            </div>
        </div>
    }
</div>